.copyright {
  color: #cccccc;
}

#custom-search-input{
  padding: 3px;
  border: solid 1px #E4E4E4;
  border-radius: 6px;
  background-color: #fff;
}

#custom-search-input input{
  border: 0;
  box-shadow: none;
}

#custom-search-input button{
  margin: 2px 0 0 0;
  background: none;
  box-shadow: none;
  border: 0;
  color: #666666;
  padding: 0 8px 0 10px;
  border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
  border: 0;
  box-shadow: none;
  border-left: solid 1px #ccc;
}


#custom-search-input input::-webkit-input-placeholder {
  color: #ccc;
}

#custom-search-input input::-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}

#custom-search-input input::-moz-placeholder {  /* Firefox 19+ */
  color: #ccc;
}

#custom-search-input input:-ms-input-placeholder {
  color: #ccc;
}

#custom-search-input .glyphicon-search{
  font-size: 23px;
}

.sampleContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.loader {
  position: relative;
  width: 104px;
  height: 14px;
  margin: 30px auto;
}

.dot {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #ccc;
  position: absolute;
}

.dot_1 {
  animation: animateDot1 1.5s linear infinite;
  left: 30px;
  background: #e579b8;
}

.dot_2 {
  animation: animateDot2 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 60px;
}

.dot_3 {
  animation: animateDot3 1.5s linear infinite;
  left: 30px;
}

.dot_4 {
  animation: animateDot4 1.5s linear infinite;
  animation-delay: 0.5s;
  left: 60px;
}

@keyframes animateDot1 {
  0% {
    transform: rotate(0deg) translateX(-30px);
  }
  25% {
    transform: rotate(180deg) translateX(-30px);
  }
  75% {
    transform: rotate(180deg) translateX(-30px);
  }
  100% {
    transform: rotate(360deg) translateX(-30px);
  }
}
@keyframes animateDot2 {
  0% {
    transform: rotate(0deg) translateX(-30px);
  }
  25% {
    transform: rotate(-180deg) translateX(-30px);
  }
  75% {
    transform: rotate(-180deg) translateX(-30px);
  }
  100% {
    transform: rotate(-360deg) translateX(-30px);
  }
}
@keyframes animateDot3 {
  0% {
    transform: rotate(0deg) translateX(30px);
  }
  25% {
    transform: rotate(180deg) translateX(30px);
  }
  75% {
    transform: rotate(180deg) translateX(30px);
  }
  100% {
    transform: rotate(360deg) translateX(30px);
  }
}
@keyframes animateDot4 {
  0% {
    transform: rotate(0deg) translateX(30px);
  }
  25% {
    transform: rotate(-180deg) translateX(30px);
  }
  75% {
    transform: rotate(-180deg) translateX(30px);
  }
  100% {
    transform: rotate(-360deg) translateX(30px);
  }
}
